{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1><span class="text-primary">Titre Primary</span> — </h1>
<h1><span class="text-secondary">Titre Secondary</span> — </h1>
<h1><span class="text-success">Titre Success</span> — </h1>
<h1><span class="text-info">Titre Info</span> — </h1>
<h1><span class="text-warning">Titre Warning</span> — </h1>
<h1><span class="text-danger">Titre Danger</span> — </h1>
<h1><span class="text-light">Titre Light</span> — </h1>
<h1><span class="text-dark">Titre Dark</span> — </h1>


{% endblock %}
