{% extends 'base.html.twig' %}

{% block title %}Edit Couvoiturage{% endblock %}

{% block body %}
    <h1>Edit Couvoiturage</h1>

    {{ include('couvoiturage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_couvoiturage_index') }}">back to list</a>

    {{ include('couvoiturage/_delete_form.html.twig') }}
{% endblock %}
